body{
    background: #FFFFFF;
    padding: 75px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font :none;
}
ul{
    list-style-type: none;
}
li{
    height: 812px;
    width: 375px;

    border-radius: 2px;

}
.flashMessage-list{
    display: flex;
}
.flash-item{
    padding: 40px;
    background-color:white;
    margin: 0px 25px;
    text-align: center;
    /* box-shadow: 0 0 4px 4px rgb(red, green, blue); */
}
.flash__statusbar{
   width: 375px;
    height: 44px;
    margin-bottom: -6rem ;
}

.flash__statusbar-time{
    margin-right: 12.5rem;
}
.flash__success {
    margin-bottom:  -23rem; 
}

.flash__actionsheet{
    z-index: 2;
    height: 450px;
    width: 375px;
    left: 0px;
    background: rgba(245, 246, 247, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    border-radius: 40px 40px 0px 0px;
    text-align: center;
}
.flash__title{
    width: 327px;
    height: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 200%;
    letter-spacing: 1px;
    margin: 16px 24px 24px;

}
.flash__desc span{
    font-weight: 800;
}

.flash__desc{
    position: static;
    width: 327px;
    height: 75px;
    left: 0px;
    top: 88px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.5px;
    margin: 16px 24px 24px;
}
.btn{
    font-size: 16px;
    display: block;
    padding: 20px;
    border:2px;
    cursor: pointer;
    border-radius: 1rem;
    text-align: center;
    
    margin: 24px 48.5px 50px;
   
    position: static;
    box-shadow: 0px 22px 40px -16px rgba(20, 220, 97, 0.6);
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    /* cursor: ; */

}
.btn--Viewyourpost{
    background-color : #14DC61;
    color: white;
}
.btn--Return{
    background-color : #DC1414;
    color: white;
    
    box-shadow: 0px 22px 40px -16px rgba(220, 20, 20, 0.4);
}
.flash__statusbar{
    width: 327px;
    height: 92.31px;
}

.flash__shareSocial i{
    margin : 0.5rem;
    
}

.flash__home{
    width: 135px;
    height: 5px;
    left: calc(50% - 135px/2);
    bottom: 8px;
    background: #000000;
    border-radius: 100px;
    margin: 5px 120px 8px;
}